<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" prefix="og: http://ogp.me/ns#">
{{ partial "head.html" . }}

<body>
  <article class="posts">
    <div class="row">
      <div class="col-xs-12">
        {{ partial "header.html" . }}
        <h2 class="page-title">{{ .Name }}</h2>
        <div class="tag-cloud">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
        <a href="{{ $.Site.LanguagePrefix | absURL }}{{ $data.Plural }}/{{ $value.Name | urlize }}/">{{ $value.Name }}<sup>{{ $value.Count }}</sup></a>
        {{ end }}
        {{ partial "footer.html" . }}
        {{ partial "copyright.html" . }}
      </div>
    </div>
  </article>

  {{ partial "scripts.html" . }}
</body>

</html>
